<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} BlogUR {% endblock %}</title>
  </head>
  <body>
    <style>
      .perfect-circle {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }

      .perfect-circle-150 {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
      }
    </style>
    <!-- Image and text -->
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/blogging2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          BlogUR
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            {% if cat_menu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for item in cat_menu %}
                    <a class="dropdown-item" href="{% url 'category' item|slugify %}">{{ item|capfirst }}</a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'create_post' %}">Create Post</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'create_category' %}">Create Category</a>
              </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="nav-link active">Welcome, {{ user.first_name }} </a>
              </li>
              &nbsp;
              <li class="nav-item ">
                <a class="btn btn-secondary" href="{% url 'show_profile' user.profile.id %}">My Profile</a>
              </li>
              &nbsp;
              <li class="nav-item ">
                <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
              </li>
          </ul>
            {% else %}
          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a class="btn btn-info" href="{% url 'register' %}">Register</a>
              </li>
              <li class="nav-item ">
                &nbsp;
                <a class="btn btn-info" href="{% url 'login' %}">Login</a>
              </li>
          </ul>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>